.Alert {
	.rs-modal-dialog {
		padding: 0 !important;
		margin: 0 !important;
		min-height: 100% !important;

		display: flex !important;
		flex-direction: column !important;
		.rs-modal-content {
			min-height: 200px !important;
			flex: 2 !important;
			padding: 0 !important;
			margin: 0 !important;
			background: white;
			@include heart;
			.alert_box {
				height: 150px;
				@include heart;
				justify-content: space-between;
				.alert_icon {
					width: 9%;
					margin-right: 4%;
					min-height: 100%;
					@include heart;
					.icon {
						margin-bottom: auto;
						margin-left: auto;
						height: 22px;
						width: 22px;
					}
				}
				.alert_body {
					height: 100%;
					flex: 2;
					width: 74%;
					display: flex !important;
					flex-direction: column;
					.title {
						justify-content: space-between;
						margin-top: 1.6px;
						.text {
							font-size: 13.3px;
							font-family: beausite_bold;
						}
						.close {
							height: 12px;
							width: 12px;
						}
					}
					.message {
						margin-top: 8px;
						margin-bottom: auto;
					}
					.buttons {
						margin-left: auto;
						margin-right: 6%;
						justify-content: space-between;
						gap: 14px;
						.cancel_button {
							padding: 9px 20px;
							background: #ecedf0;
							border-radius: 50px;
							color: black;
							font-size: 12px;
						}
						.action_button {
							font-size: 12px;
							padding: 8px 20px;
							border-radius: 50px;
							color: white;
							background: black;
						}
					}
				}
			}
		}
	}
}
.loader {
	.rs-modal-dialog {
		padding: 0 !important;
		margin: 0 !important;
		height: 200px !important;

		display: flex !important;
		flex-direction: column !important;
		.rs-modal-content {
			min-height: 200px !important;
			flex: 2 !important;
			padding: 0 !important;
			position: absolute;
			left: 0;
			right: 0;
			margin-left: auto !important;
			margin-right: auto !important;
			background: rgba(245, 245, 245, 0);
		}
	}
}

.dropdown_item {
	display: flex;
	@include heart;
	padding-top: 5px;
	padding-bottom: 5px;
	transition-duration: 0.3s;
	&:hover {
		background: rgb(239, 238, 236);
	}
	.the_link {
		display: flex;
		text-decoration: none !important;
	}
	.drop_icon {
		height: 20px;
		width: 20px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.drop_text {
		font-family: beausite_medium;
		width: 100px;
		text-align: left;
		margin-right: auto;
		min-width: fit-content;
		font-size: 13.3px;
		color: rgba(0, 0, 0, 0.726);
	}
	.edit_icon {
		@include img_heart;
		background-image: url("./../asset/images/pen.svg");
	}
	.delete_icon {
		background-image: url("./../asset/images/delete.svg");
	}

	.logout_icon {
		background-image: url("./../asset/images/logout.svg");
	}
}

.folder_items {
	padding-left: 5px;
	padding-right: 5px;
	.rs-dropdown-menu {
		padding-left: 9px;
		padding-right: 9px;
	}
	.dropdown_item {
		border-radius: 35px !important;
		min-width: fit-content;
		padding-left: 4px;
		padding-right: 30px;
		margin-top: 2px !important;
		margin-bottom: 2px !important;
		margin-bottom: 5px;
		.drop_icon {
			margin-right: 3pxx;
			height: 24px;
			min-width: 24px;
			background-image: url("./../asset/images/black_folder.svg") !important;
			@include img_heart;
		}
	}
}

@media (max-width: 700px) {
	.Alert {
		.rs-modal-dialog {
			padding: 0 !important;
			margin: 0 !important;
			min-height: 100% !important;

			display: flex !important;
			flex-direction: column !important;
			.rs-modal-content {
				min-height: 200px !important;
				flex: 2 !important;
				padding: 0 !important;
				margin: 0 !important;
				background: white;
				width: 93% !important;
				margin-left: auto !important;
				margin-right: auto !important;
				@include heart;
				.alert_box {
					height: 150px;
					@include heart;
					justify-content: space-between;
					.alert_icon {
						width: 9%;
						margin-right: 4%;
						min-height: 100%;
						@include heart;
						.icon {
							margin-bottom: auto;
							margin-left: auto;
							height: 22px;
							width: 22px;
						}
					}
					.alert_body {
						height: 100%;
						flex: 2;
						width: 74%;
						display: flex !important;
						flex-direction: column;
						.title {
							justify-content: space-between;
							margin-top: 1.6px;
							.text {
								font-size: 13.3px;
								font-family: beausite_bold;
							}
							.close {
								height: 12px;
								width: 12px;
							}
						}
						.message {
							margin-top: 8px;
							margin-bottom: auto;
						}
						.buttons {
							margin-left: auto;
							margin-right: 6%;
							justify-content: space-between;
							gap: 14px;
							.cancel_button {
								padding: 9px 20px;
								background: #ecedf0;
								border-radius: 50px;
								color: black;
								font-size: 12px;
							}
							.action_button {
								font-size: 12px;
								padding: 8px 20px;
								border-radius: 50px;
								color: white;
								background: black;
							}
						}
					}
				}
			}
		}
	}
	.loader {
		.rs-modal-dialog {
			padding: 0 !important;
			margin: 0 !important;
			height: 200px !important;

			display: flex !important;
			flex-direction: column !important;
			.rs-modal-content {
				min-height: 200px !important;
				flex: 2 !important;
				padding: 0 !important;
				position: absolute;
				left: 0;
				right: 0;
				margin-left: auto !important;
				margin-right: auto !important;
				background: rgba(245, 245, 245, 0);
			}
		}
	}

	.dropdown_item {
		display: flex;
		@include heart;
		padding-top: 5px;
		padding-bottom: 5px;
		transition-duration: 0.3s;
		&:hover {
			background: rgb(239, 238, 236);
		}
		.the_link {
			display: flex;
			text-decoration: none !important;
		}
		.drop_icon {
			height: 20px;
			width: 20px;
			margin-right: 10px;
			margin-left: 10px;
		}
		.drop_text {
			font-family: beausite_medium;
			width: 100px;
			text-align: left;
			margin-right: auto;
			min-width: fit-content;
			font-size: 13.3px;
			color: rgba(0, 0, 0, 0.726);
		}
		.edit_icon {
			@include img_heart;
			background-image: url("./../asset/images/pen.svg");
		}
		.delete_icon {
			background-image: url("./../asset/images/delete.svg");
		}

		.logout_icon {
			background-image: url("./../asset/images/logout.svg");
		}
	}

	.folder_items {
		padding-left: 5px;
		padding-right: 5px;
		.rs-dropdown-menu {
			padding-left: 9px;
			padding-right: 9px;
		}
		.dropdown_item {
			border-radius: 35px !important;
			min-width: fit-content;
			padding-left: 4px;
			padding-right: 30px;
			margin-top: 2px !important;
			margin-bottom: 2px !important;
			margin-bottom: 5px;
			.drop_icon {
				margin-right: 3pxx;
				height: 24px;
				min-width: 24px;
				background-image: url("./../asset/images/black_folder.svg") !important;
				@include img_heart;
			}
		}
	}
}
